---
import Layout from "../layouts/Layout.astro";
import TestMap from "../components/GeoMap.jsx";
import { Image } from "astro:assets";
import logo from "../images/logo.svg";
import Search from "../components/Search.astro";
import "../styles/global.css";
---

<Layout>
    <div class="w-[1920px] h-[1080px] relative bg-white overflow-hidden">
        <div class="w-[750px] h-44 left-[125px] top-[484px] absolute justify-start">
            <span class="text-black text-7xl font-normal font-['Nexa'] leading-[80px]"
                >Map Your Way to <br />the
            </span><span class="text-amber-500 text-7xl font-black font-['Nexa'] leading-[80px]">Best</span><span
                class="text-black text-7xl font-normal font-['Nexa'] leading-[80px]"
            >
                Local Finds.</span
            >
        </div>
        <div
            class="w-[733px] h-20 left-[140px] top-[668px] absolute justify-start text-black text-5xl font-light font-['Nexa']"
        >
            See what the buzz is about!
        </div>
        <div class="w-[859px] h-[663px] left-[904px] top-[312px] absolute bg-black rounded-[10px]"></div>
        <div
            class="w-24 h-9 left-[1067px] top-[114px] absolute justify-start text-black text-3xl font-light font-['Nexa']"
        >
            About
        </div>
        <div
            class="w-12 h-9 left-[1275px] top-[114px] absolute justify-start text-black text-3xl font-light font-['Nexa']"
        >
            Sell
        </div>
        <div
            class="w-24 h-9 left-[1438px] top-[114px] absolute justify-start text-black text-3xl font-light font-['Nexa']"
        >
            Events
        </div>
        <div class="w-40 h-12 left-[1598px] top-[110px] absolute bg-amber-500 rounded-[5px]"></div>
        <div
            class="w-36 h-11 pr-2 left-[1609px] top-[114px] absolute text-center justify-start text-white text-3xl font-bold font-['Nexa']"
              >
            Get App
        </div>
        <div
            class="w-80 h-9 left-[1236px] top-[605px] absolute justify-start text-white text-3xl font-light font-['Nexa']"
        >
            Photoshop Composite
        </div>
        <div class="w-96 h-16 left-[323px] top-[792px] absolute bg-amber-500 rounded-[5px]"></div>
        <div class="w-40 h-16 left-[144px] top-[792px] absolute bg-amber-500 rounded-[5px]"></div>
        <div
            class="w-100 h-14 place-content-center left-[336px] top-[798px] absolute justify-start text-white text-3xl font-black font-['Nexa']"
        >
            CREATE ACCOUNT
        </div>
        <div
            class="w-36 h-14 pt-2 left-[157px] top-[798px] absolute justify-start text-white text-3xl font-black font-['Nexa']"
        >
            LOG IN
        </div>
        <div
            class="w-80 h-7 left-[114px] top-[945px] absolute justify-start text-black text-xl font-black font-['Nexa']"
        >
            Powered by Esri
        </div>
        <div class="w-[723px] h-24 left-[114px] top-[312px] absolute rounded-[10px] border-2 border-neutral-300"></div>
        <div
            class="w-[470.04px] h-9 left-[142.10px] top-[340px] absolute justify-start text-black text-3xl font-light font-['Nexa']"
        >
            <Search items={["McDonald's", "Jack in the Box", "In n Out"]} />
        </div>
        <div class="w-18 h-20 left-[755px] top-[322px] absolute bg-buzz rounded-[10px]"></div>
        <Image src={logo} alt="LocalBuzz Logo" class="w-[518px] h-32 left-[97px] top-[79px] absolute" />
    </div>
</Layout>
