---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="grid place-content-center mt-20">
    <h1 class="text-3xl font-semibold mb-4">Hello, world!</h1>
    <span class="text-lg">woolooloo<span>
  </div>
</Layout>
