---
import Layout from "../layouts/Layout.astro"
import TestMap from "../components/TestMap.jsx"
import Search from "../components/Search.astro"
import GeoEnrichedMap from "../components/GeoMap.jsx"

const items: string[] = [
    "Taco Bell",
    "McDonalds",
    "Burger King",
    "Wendy's",
    "KFC",
    "Subway",
    "Pizza Hut",
    "Domino's",
    "Starbucks",
    "Dunkin'",
    "Chick-fil-A",
    "Chipotle",
    "Panda Express",
    "Arby's",
    "Sonic Drive-In",
    "Dairy Queen",
    "Five Guys",
    "In-N-Out Burger",
    "Popeyes",
    "Shake Shack",
    "Panera Bread",
    "Olive Garden",
    "Texas Roadhouse",
    "Applebee's",
    "Chili's",
    "Red Lobster",
    "Outback Steakhouse",
    "Denny's",
    "IHOP",
    "Waffle House",
    "Buffalo Wild Wings",
    "TGI Fridays",
    "Cracker Barrel",
    "Cheesecake Factory",
    "Ruth's Chris Steak House",
    "Morton's The Steakhouse",
    "LongHorn Steakhouse",
    "Fogo de Chão",
    "The Capital Grille",
    "Bahama Breeze",
    "Carrabba's Italian Grill",
    "Bonefish Grill",
    "P.F. Chang's",
    "California Pizza Kitchen",
    "Noodles & Company",
    "Qdoba Mexican Eats",
    "Moe's Southwest Grill",
    "Jimmy John's",
    "Jersey Mike's Subs",
    "Firehouse Subs",
    "Potbelly Sandwich Shop",
    "Blaze Pizza",
    "Mod Pizza",
    "Crumbl Cookies",
    "Insomnia Cookies",
    "Jamba",
    "Tropical Smoothie Cafe",
    "Robeks",
    "Auntie Anne's",
    "Cinnabon",
    "Wetzel's Pretzels",
    "Krispy Kreme",
    "Tim Hortons",
    "Whataburger",
    "Jack in the Box",
]
---

<Layout>
    <div class="grid place-content-center mt-20">
        <h1 class="text-3xl font-semibold mb-4">Hello, world!</h1>
        <Search items={items} />
        <div class="w-4xl">
            <GeoEnrichedMap client:load />
        </div>
    </div>
</Layout>
