---
interface Props {
  example?: string
}

const { example } = Astro.props;
---

<nav>
  <!-- logo -->
  <img src="">
  <ul class="flex flex-row space-x-20">
    <li><a href="/">Home</a></li>
    <li><a href="/">{example}</a></li>
    <li><a href="/">Login</a></li>
  </ul>
</nav>
