---
import "../styles/global.css"
import Navbar from "../components/Navbar.astro"
---

<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link
            rel="stylesheet"
            href="https://js.arcgis.com/4.29/esri/themes/light/main.css"
        />
        <title>Astro</title>
    </head>
    <body class="h-screen flex flex-col">
        <Navbar example="Hello" />
        <main class="flex-1 flex">
            <slot />
        </main>
    </body>
</html>
